/* body */

html,
body > #root > div:not(#footerDiv) {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 { font-family: "Love Ya Like A Sister" }

/* home page banner */

#banner {
  background-image: url("./assets/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  min-height: 500px;
}

/* footer */

footer {
  margin-top: 40px;
}

footer a {
  color: lightgrey;
}

footer a:hover {
  color: lightgrey;
}

footer a:visited {
  color: lightgrey;
}

/* cards */

.card {
  max-width: 20em;
  font-size: 0.75em;
}

.card img {
  outline: 5px solid lightgrey;
  outline-offset: -5px;
}

.CardCollection {
  max-height: 1080px;
  overflow: auto;
  margin: 3em;
  padding: 2em;
  background-color: lightskyblue;
}

.card-body .btn {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
