/* body */

html,
body > #root > div:not(#footerDiv) {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* home page banner */
#banner {
  background-image: url('./assets/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  min-height: 500px;
}

/* footer */

footer {
  margin-top: 40px;
}

footer a {
  color: lightgrey;
}

footer a:hover {
  color: lightgrey;
}

footer a:visited {
  color: lightgrey;
}
