/* general */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Love Ya Like A Sister",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Love Ya Like A Sister";
}

.greeting {
  font-family: "Love Ya Like A Sister";
}

@media only screen and (max-width: 800px) {
  .greeting {
    display: none;
  }
}

#Navbar {
  min-height: 60px;
}

#Footer {
  min-height: 120px;
}

.PecsBoardPage,
.SavedBoardsPage,
.LoginPage {
  min-height: 100vh;
}

/* home page */

#banner {
  margin-left: -15px;
  margin-right: -15px;
}

.embed-responsive {
  max-width: 800px;
}

/* footer colors */

footer a {
  color: lightgrey;
}

footer a:hover {
  color: lightgrey;
}

footer a:visited {
  color: lightgrey;
}

footer small {
  color: lightgrey;
}

footer small:hover {
  color: lightgrey;
}

footer small:visited {
  color: lightgrey;
}

/* cards */

.CardCollection .card {
  max-width: 12em;
  font-size: 0.75em;
}

.card img {
  outline: 5px solid lightgrey;
  outline-offset: -5px;
}

.modal-img {
  text-align: center;
}

.modal-body img {
  outline: 10px solid lightgrey;
  outline-offset: -5px;
  margin-bottom: 2em;
  width: 50%;
}

.Cards {
  background-color: lightskyblue;
}

.PecsCardsTitle {
  background-color: lightskyblue;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.75em;
  border-radius: 0.75em 0.75em 0.75em 0.75em;
}

.Spinner {
  background-color: lightskyblue;
  border-radius: 0 0 0.75em 0.75em;
  margin-top: -0.75em;
  padding-bottom: 0.75em;
}

.CardsBrowser {
  background-color: lightskyblue;
  border-radius: 0 0 0.75em 0.75em;
  margin-top: -0.75em;
}

.CardsBrowser h3 {
  padding: 1em;
}

.CardCollection {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: lightskyblue;
  border-radius: 0 0 0.75em 0.75em;
  margin-top: -0.75em;
}

.CardCollection::-webkit-scrollbar {
  width: 1.5em;
}

.CardCollection::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.75em;
}

.CardCollection::-webkit-scrollbar-thumb {
  background-color: rgb(243, 212, 87);
  border-radius: 0.75em;
  min-height: 3em;
}

.btnArea .btn {
  border-radius: 50%;
}

.CardCollection button.btn.btn-link {
  font-size: 1em;
}

/* pecs board */

.PecsBoardArea {
  min-height: 300px;
  background-color: rgb(243, 212, 87);
  padding-bottom: 10px;
}

.Player button {
  width: 3em;
  height: 3em;
  padding-left: 18px;
  border-radius: 50%;
}

.BoardCard.card {
  display: inline-block;
  max-width: 12em;
}

.BoardCards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100vw;
}

@media only screen and (max-width: 600px) {
  .BoardCards {
    display: grid;
  }
}

.BoardCards::-webkit-scrollbar {
  width: 1.5em;
}

.BoardCards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.75em;
}

.BoardCards::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 0.75em;
  min-height: 3em;
}

.PecsBoardPage .Alert {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.PecsBoardPage .Alert p {
  padding-bottom: 0px;
}

/* search and filter */

.SwitchToCategory .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 11px;
}

.SwitchToSearch .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 11px;
}

/* saved boards */

.SavedBoard {
  background-color: ;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 15px;
  max-width: 80%;
}

.Routine.SavedBoard {
  border: 5px solid green;
  background-color: green;
}

.Anxiety.SavedBoard {
  border: 5px solid rgb(232, 65, 193);
  background-color: rgb(232, 65, 193);
}

.Challenging.SavedBoard {
  border: 5px solid purple;
  background-color: purple;
}

.Routine .Title {
  color: white;
}

.Anxiety .Title {
  color: white;
}

.Challenging .Title {
  color: white;
}

.SavedBoard .PlayBtn {
  border: 3px solid white;
}

.card-deck {
  padding-left: 10px;
  padding-right: 10px;
}

.SavedBoard .Delete {
  border: 3px solid white;
  border-radius: 7px;
}

.SavedBoard hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}

/* behaviour selector */

.BehaviourSelector {
  margin-top: 30px;
  margin-bottom: 30px;
}
.BehaviourSelector .Routine {
  color: green;
}

.BehaviourSelector .Anxiety {
  color: rgb(232, 65, 193);
}

.BehaviourSelector .Challenging {
  color: purple;
}

.BehaviourSelector .Clear {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 13px;
}
